@jds:registry=https://devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/
//devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/:_password=QVA2QVRiRGdRN2lDNlM2OVYzZ1F1WDd2UjNi
//devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/:username=jdsuser
//devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/:always-auth=true
//devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/:strict-ssl=false
registry=http://registry.npmjs.org/

strict-ssl=false
always-auth=true
